body {
    background-image: url('../../media/img/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#aboutme {
    border-radius: 25px;
    border: 4px solid #73AD21;
    font-weight: bolder;
    font-size: large;
    color: white;
}

#info {
    color: black;
    font-weight: bolder
}

.item {
    width:100%;
    height: 100%
}

.technologies{
    width: 20%;
    margin: 50px;
}